@CHARSET "ISO-8859-1";

li
{
	display:inline;
	margin-left:9%;
	padding: 0;
border: none;
background: none;
}

li.searchList
{
	margin-left:0%;
	padding: 0;
border: none;
background: none;
}

a img
{
	border: none;
	outline:none;
}

a
{
	 border: none;
	outline:none;
	text-decoration:none;
	color:rgb(51,181,229);
}
a:hover
{ 
 color:white;
 border: none;
	outline:none;
}
ul.header2
{
	list-style-type:none;
	margin:0;
	/*background-color: rgb(184,182,186); */
	/*background-color:#FFFFFF; */
	background-color:#E6E6E6;
	padding:0;
	bottom:0;
	width:100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	
}

ul.header
{
	list-style-type:none;
	margin:0;
	padding:0;
	border-bottom:thin solid rgb(51,181,229);
	
}

.event
{
	border-bottom:thin solid rgb(51,181,229);
	border-top:thin solid rgb(51,181,229);
	margin-bottom:1%;
	margin-top:1%;
}


ul.footer
{
	list-style-type:none;
	margin:0;
	border-top:thin solid rgb(51,181,229);
	padding:0;
	
}
.divRight
{
	border:2px;
	border-radius:25px;

	width:48%;
	margin-top:30%;
	margin-bottom:1%;
	float:right;
	/*background-color:#FFFFFF; */
	/*background-color:rgb(51,181,229); */
	background-color:#E6E6E6;
	
	
}

.divRight2
{
	border:2px;
	border-radius:25px;
	float:right;
	width:48%;
/*	background-color:#FFFFFF; */
/*background-color:rgb(51,181,229);*/
background-color:#E6E6E6;
	
	
}

.divLeft
{
	border:2px;
	border-radius:25px;
	
	width:48%;
	margin-top:30%;
	margin-bottom:2%;
	float:left;
	/*background-color:#FFFFFF; */
	/*background-color:rgb(51,181,229);*/
	background-color:#E6E6E6;
	
	
}

.divLeft2
{
	border:2px;
	border-radius:25px;
	
	width:45%;
	
	
	float:left;
	/*background-color:#FFFFFF;*/
	/*background-color:rgb(51,181,229);*/
	background-color:#E6E6E6;
	
	
}

.divMain2
{
	border:2px;
	border-radius:25px;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	min-height:100%;

	background-color:#E6E6E6;  
	/*background-color:#E6E6E6;*/
	margin-top:2%;
	overflow:scroll;
	overflow:auto;
	
	
	
}

.textarea
{
	margin-left:18%;
    margin-top:3%;
}




/*  CSS found here http://konigi.com/tools/css-tooltips-and-speech-bubbles  */
.bubble {
  position: relative;
  background-color:#E0F2F7;
  margin: 0;
  padding:10px;
  text-align:center;
  width:300px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  box-shadow: 0px 0 3px rgba(0,0,0,0.25); 

    justify-content: flex-end;
 
}
.bubble:after {
  position: absolute;
  display: block;
  content: "";  
  border-color: #E0F2F7 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-19px;
  right:1em;
}

.beforeBubble
{
	  float:right;
   margin-right:3%;
   margin-top:1%;
   margin-bottom:2%;
   clear:both;
}

.beforeBubble2
{
	float:left;
  margin-left:3%;
  margin-top:1%;
  margin-bottom:2%;
   clear:both;
}

.bubble2 {
  position: relative;
  background-color:#eee;
  margin: 0;
  padding:10px;
  text-align:center;
  width:300px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  box-shadow: 0px 0 3px rgba(0,0,0,0.25); 
 
  
}
.bubble2:after {
  position: absolute;
  display: block;
  content: "";  
  border-color: #eee transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-19px;
  left:1em;
}

#m
{
	border:2px;
	border-radius:25px;
	height:700px;
	margin-left:10%;
	margin-right:10%;
	
	margin-top:2%;
	width:800px;
	background-color:white;
	overflow:scroll;
}

.sender
{
	overflow:auto;
	border:2px;
	border-radius:25px;
	background-color:#E6E6E6;
	margin-left:2%;
	margin-right:2%;
	float:right;
	width:400px;
	margin-top:2%;
	margin-bottom:1%;

display: table-cell;
    vertical-align: bottom;
	
	
}



.reciever
{
	overflow:auto;
	border:2px;
	border-radius:25px;
	background-color:#D0F5A9;
	margin-left:2%;
	
	float:left;
	width:400px;
	display: table-cell;
    vertical-align: bottom;
	
	 
	
	
}



.senderPost
{
	margin-left:4%;
	margin-right:4%;
	display:block;
}




.font
{
    font-family: 'Glegoo', serif;
	font-size:120%;
/* 	color:rgb(203,202,204); */
/*	color:rgb(184,182,186); */
	/*color:#E6E6E6;*/
	color:rgb(51,181,229);
	margin-left:25%;
	
	
}

.fontCheck
{
    font-family: 'Glegoo', serif;
	font-size:110%;
/* 	color:rgb(203,202,204); */
/*	color:rgb(184,182,186); */
	/*color:#E6E6E6;*/
	color:rgb(51,181,229);
	margin-left:2%;

}

.blueFont
{
	font-family: 'Glegoo', serif;
	font-size:140%;
	margin-left:8%;
	margin-right:8%;
	color:rgb(51,181,229);
	
}

.smallBlueFont
{
	font-family: 'Glegoo', serif;
	font-size:80%;
	
	color:rgb(51,181,229);
	
}

.smallBlackFont
{
	font-family: 'Glegoo', serif;
	font-size:80%;
	
	color:black;
	
}

.blueFont3
{
	font-family: 'Glegoo', serif;
	font-size:140%;
	color:rgb(51,181,229);
	
}

.smallGreyFont
{
	 font-family: 'Glegoo', serif;
	font-size:100%;
	margin-left:8%;
	margin-right:8%;
	color:rgb(51,181,229);
/*	color:rgb(184,182,186); */
/* color:#E6E6E6; */
/*color:white;*/
	
	
}


.eventMate
{
/* 	font-family: 'Vibur', cursive; */
font-family: 'Codystar', cursive;
	font-size:250%;
	color:rgb(51,181,229);
	
	margin-left:30%;
	margin-top:20%;

}

.eventMate2
{
/* 	font-family: 'Vibur', cursive; */
font-family: 'Codystar', cursive;
	font-size:150%;
	/*color:#9A2EFE; */
	color:black;
	margin-left:30%;
	margin-top:20%;

}

/* .button { */
/* 	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7; */
/* 	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7; */
/* 	box-shadow:inset 0px 1px 0px 0px #bbdaf7; */
/* 	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) ); */
/* 	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% ); */
/* 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5'); */
/* 	background-color:#79bbff; */
/* 	-webkit-border-top-left-radius:20px; */
/* 	-moz-border-radius-topleft:20px; */
/* 	border-top-left-radius:20px; */
/* 	-webkit-border-top-right-radius:20px; */
/* 	-moz-border-radius-topright:20px; */
/* 	border-top-right-radius:20px; */
/* 	-webkit-border-bottom-right-radius:20px; */
/* 	-moz-border-radius-bottomright:20px; */
/* 	border-bottom-right-radius:20px; */
/* 	-webkit-border-bottom-left-radius:20px; */
/* 	-moz-border-radius-bottomleft:20px; */
/* 	border-bottom-left-radius:20px; */
/* 	text-indent:0; */
/* 	border:1px solid #84bbf3; */
/* 	display:inline-block; */
/* 	color:#ffffff; */
/* 	font-family:Arial; */
/* 	font-size:15px; */
/* 	font-weight:bold; */
/* 	font-style:normal; */
/* 	height:35px; */
/* 	line-height:35px; */
/* 	width:85px; */
/* 	text-decoration:none; */
/* 	text-align:center; */
/* 	text-shadow:1px 1px 0px #528ecc; */
/* } */
/* .button:hover { */
/* 	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) ); */
/* 	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% ); */
/* 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff'); */
/* 	background-color:#378de5; */
/* }.button:active { */
/* 	position:relative; */
/*	top:1px;
} */

.blackFont
{
	font-family: 'Glegoo', serif;
	font-size:110%;
	
	color:black;
}

.blueFont2
{
	font-family: 'Glegoo', serif;
	font-size:110%;
	
	color: rgb(51,181,229);
}

.imgBorder
{
border:4px solid;
border-radius:25px;
border-color:white;
}




.button {
font-family: 'Glegoo', serif;
font-size: 14px;
color: rgb(51,181,229);
padding: 8px 15px;
background: -moz-linear-gradient(
top,
‪#‎ffffff‬ 0%,
‪#‎d6d6d6‬);
background: -webkit-gradient(
linear, left top, left bottom,
from(#ffffff),
to(#d6d6d6));
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
border: 2px solid #33b6e5;
-moz-box-shadow:
0px 0px 0px rgba(000,000,000,0),
inset 0px 0px 0px rgba(255,000,217,0.9);
-webkit-box-shadow:
0px 0px 0px rgba(000,000,000,0),
inset 0px 0px 0px rgba(255,000,217,0.9);
box-shadow:
0px 0px 0px rgba(000,000,000,0),
inset 0px 0px 0px rgba(255,000,217,0.9);
text-shadow:
0px 0px 0px rgba(000,000,000,0),
0px 0px 0px rgba(255,255,255,0);
0px 0px rgba(255,255,255,0);
}

.main
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	min-height:100%;
	
	
	
	
	
}
body.signUp
{
	/*background-color:rgb(51,181,229);  */
	background:url("../images/d.JPG") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-color:black;
	

/*background-color:#E0ECF8; */
	
}

body 
{
	/*background-color:rgb(51,181,229);*/ 
	/*	background-color:black; */
	background:url("../images/background-dots.jpg") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;	
  
	min-height:100%;
	margin:0;
	padding:0;
	
}




html,body
{
	min-height:100%;
	margin:0;
	height:100%;
	padding:0;
	
}

.userimgBorder
{
	border:2px;
	border-radius:15px;

}

*
{
	margin:0;
	padding:0;
}

.profile {
margin-top:7%;
margin-left:100px;
}

.profilePicture {
width:35%;
float:left;
}

.profileRight {
margin-right:5%;
margin-bottom:15%;
}

.profileMore {
float:left;
width:50%;;
}

.randomEvent {
margin-top:7%;
margin-left:100px;
}

/* Code from http://cssdeck.com/labs/search-box-with-suggestions-dropdown */ 
a.search {
    color: #1e7ad3;
    text-decoration: none;
}

a.search:hover { text-decoration: underline }


.container, .main3 {
   width: 640px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}


input {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #555860;
}

.search {
    position: relative;
    margin: 0 auto;
    width: 300px;
}

.search input {
    height: 26px;
    width: 100%;
    padding: 0 12px 0 25px;
    background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
} 

.search input:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.search input:focus + .results { display: block } 

.active .search .results {display:block}

 .search .results {
  
	display:none;
    position:absolute;
   /* top: 35px;*/
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: linear-gradient(top, #fdfdfd, #eceef4);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
} 

.search .results li { display: block }

.search .results li:first-child { margin-top: -1px }

.search .results li:first-child:before, .search .results li:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border: 5px outset transparent;
}

.search .results li:first-child:before {
    border-bottom: 5px solid #c4c7d7;
    top: -11px;
}

.search .results li:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}
.search .results li:first-child:hover:before, .search .results li:first-child:hover:after { display: none }

.search .results li:last-child { margin-bottom: -1px } 

.search .results a {
    display: block;
    position: relative;
    margin: 0 -1px;
   /* padding: 6px 40px 6px 10px; */
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

.search .results a span { font-weight: 200 }

.search .results a:before {
    content: '';
    width: 18px; 
    height: 18px; 
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
    background: url("http://cssdeck.com/uploads/media/items/7/7BNkBjd.png") 0 0 no-repeat;
}

.search .results a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59aaf4), color-stop(100%, #338cdf));
    background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -ms-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
    background-image: linear-gradient(top, #59aaf4, #338cdf);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -o-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
} 

:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}
ul.results
{
	
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

.lt-ie9 .search input { line-height: 26px } 